*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100;
}

#nav{
    height: 100px;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
    /* background-color: aquamarine; */
    padding: 0 30px;

}

#nav i{
    font-size: 20px;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 50%;

}

#center {
    width: 100%;
    height: 50%;
    /* background-color: red; */
}

#center h1{
    font-size: 60px;
    padding: 0 60px;
    font-weight: 500;
    line-height: 65px;
}

#center-in{
    /* background-color: skyblue; */
    padding: 20px 60px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
}

#right{
    width: 20%;
    /* background-color: whitesmoke; */
}

.elem{
    padding: 10px;
    border-top: 2px solid black;
    display: flex;
    justify-content: space-between;
}

.elem i{
    opacity: 0;
}
.elem a{
    text-decoration: none;
    color: black;
}

.elem:hover{
    background-color: greenyellow;
}

.elem:hover i{
    opacity: 1;

}

.elem:hover a{
    text-decoration: underline;

}

#bottom{
    width: 100%;
    height: 267px;
    background-image: url(https://images.unsplash.com/photo-1714165860646-b8de17af3bc8?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: 0 50%;
}
