*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    
}

#nav{
    /* background-color: yellow; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    padding: 0 50px;
}

#nav-part1{
    display: flex;
    gap: 2px;
}

#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
#nav-part h4{
    font-size: 16px;
    font-weight: 500;
}

#nav-part2 h4 span{
    /* color: rgb(103, 103, 104); */
    margin-left: 25px;
}

 
.gola{
    height: 20px;
    width: 20px;
    background-color: black;
    border-radius: 50%;
}

#nav2{
    height: 80px;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    gap: 70px;
    padding: 0 20px;    
}

#nav2 h3{
    font-size: 14px;
    text-transform: uppercase;
}

#content{
    width: 100%;
    height: calc(100% - 160px);
    /* background-color: #d05e5e; */
}

#text-content{
    width: 100%;
    height: 50%;
    background-color: burlywood;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    font-weight: 100;
}

#text-content::-webkit-scrollbar{
    background-color: transparent;
    height: 7px;
}
#text-content::-webkit-scrollbar-thumb{
    background-color: orange;
}
.elem{
    width: 50%;
    height: 100%;
    /* background-color: rgb(56, 253, 99); */
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}