*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    /* justify-content: space-between; */
    align-items: flex-end;
    padding: 0px 90px;
    padding-top: 170px;
    gap: 70px;
}

#left{
    height: 100%;
    width: 45%;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 50px;
}

#left h1{
    font-size: 110px;
    font-weight: 500;
    line-height: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#bottom-left{
    /* background-color: aqua; */
    /* height: 250px; */
    width: 100%;
}

#color h5{
    font-size: 20px;
    margin-right: 10px;
}

#color{
    /* background-color: blueviolet; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    border: 1px solid black;
    border-radius: 50px;
    padding: 5px 10px;
}
#color1{
    background-color: burlywood;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 5px;
}
#color2{
    background-color: crimson;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

#left h2{
    margin-top: 50px;
    font-size: 30px;
    margin-bottom: 15px;
    font-weight: 400;
}

#left p{
    font-size: 15px;
    width: 60%;
    font-weight: 400;
    line-height: 20px;
    color: #444;
}

#right{
    height: 90%;
    width: 33%;
    margin-right: 80px;
    /* background-color: blue; */
    position: relative;
    
}

#right-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    /* background-color: yellow; */
    padding-right: 20px;
    font-size: 18px;
}

#right-top h4{
    font-size: 30px;
    font-weight: 800;
}
#right-top h5 i{
    color: gold;

}
#right img{
    width: 100%;
    height: 83%;
    object-fit: cover;
}

#circle{
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: rgb(60, 53, 53);
    color: white;
    border-radius: 50%;
    top: 50%;
    right: -11%;
    display: flex;
    justify-content: center;
    align-items: center;

}

#rotated{
    position: absolute;
    /* background-color: red; */
    left: -130px;
    bottom: 100px;
    rotate: -90deg;

}